*{
  margin:0;
  border:0;
  box-sizing:border-box;
  font-size: 18px;
}

body, main{
  background-color: rgb(235, 160, 185);
}

@media(min-width:410px){

header{
  width: 70%;
  background-color:pink;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px 15vw;
  border-radius: 30px;
  border: rgb(212, 107, 128) solid 1px;
}

nav{
  margin: 10px 20vw;
  display: flex;
  justify-content: space-between;
  gap: 10vw;
}

    nav a{
     text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 1s, color 1s; 

            }

           nav a:hover{
            background-color: rgb(255, 211, 238);
            color: rgb(184, 184, 183)
            }

#hero-banner{
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    margin: 10px 25vw;
    background-color: pink;
    border-radius: 10px 10px 20px 20px;
}

#hero-banner img{
    width: 50%;
    border-radius: 30px;
    padding: 20px;
}

h1{
    background-color: rgba(255, 255, 255, 0.103);
    color:rgba(255, 255, 255, 0.89);
    text-shadow: 0.5px 2px rgba(126, 126, 126, 0.911);
    border: 50px;
    font-size: 1em;
    font-style: italic;
}

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#titulo p{
    font-size: 1.5rem;
}

#productos{
    display:flex;
    justify-content:center;
    color: white;
    margin:20px auto; 
}

.principal{
    background-color: aliceblue;
    width:70%;
    border-radius: 20px;
    margin: 20px 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.principal section{
    background-color: bisque;
    border-radius: 20px;
    width: 50%;
    margin: 25px 25%;
    padding: 0.5vw;
}
.principal img{
    width: 80%;
    max-height: 90%;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.principal p{
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
}


#redes{
    width: 70%;
    margin: 30px 15%;
    background-color: darksalmon;
    border-radius: 20px;
    height: 100px;
    padding-top: 20px;
    display: flex;
}


#redes p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    font-style: italic;
    padding: 30px;
    font-size: 1rem;
}

#redes img{
    width: 50px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
}


footer{
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-style: italic;
    color:azure;
    padding: 5%;
}}

@media (max-width: 425px){
    #redes p{
        font-size: 0.8rem;
        padding: 0;
    }

    #redes{
        margin: 15px 15%;
        padding:0;
    }

    .principal{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5px;
    }
    .principal section{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .principal img{
        width: 70vw;
    }
    #hero-banner{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
    }
    #hero-banner img{
        width: 90vw;
    }
    header{
        width: 100vw;
        margin: 0;
        border-radius: 0;
        font-size: 10px;
        align-items: end;
    }
}

section.activo {
   position: fixed;
    object-fit: scale-down;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%) scale(1);
   background-color: rgb(168, 119, 119);
   margin: 0;
   padding: 0;
   border:0;
   height: 90vw;
   max-height: 99vh;
}